## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [121]:
ciudades= ['Tucumán', 'Nueva York', 'Londres', 'Copenhague','Iquique', 'Medellín']

2) Imprimir por pantalla el segundo elemento de la lista

In [ ]:
# Para recorrer la lista de izquierda a derecha : mi_lista [-1],[-2],[-3],[-4] ....

In [124]:
print(ciudades[1])
print(ciudades[-5])

Nueva York
Nueva York

3) Imprimir por pantalla del segundo al cuarto elemento

In [119]:
print(ciudades[1:4])

['Nueva York', 'Londres', 'Copenhague']

4) Visualizar el tipo de dato de la lista

In [46]:
type(ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [45]:
print(ciudades[3:])

['Copenhague', 'Nueva Delhi', 'Iquique', 'Medellín', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Tucumán', 'Sídney']

6) Visualizar los primeros 4 elementos de la lista

In [44]:
print(ciudades[:4])

['Tucumán', 'Nueva York', 'Londres', 'Copenhague']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [43]:
ciudades.append('Tucumán')
ciudades.append('Sídney')
print(ciudades)

['Tucumán', 'Nueva York', 'Londres', 'Copenhague', 'Nueva Delhi', 'Iquique', 'Medellín', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Tucumán', 'Sídney']

8) Agregar otra ciudad, pero en la cuarta posición

In [42]:
ciudades.insert(4,'Nueva Delhi')
print(ciudades)

['Tucumán', 'Nueva York', 'Londres', 'Copenhague', 'Nueva Delhi', 'Iquique', 'Medellín', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']

9) Concatenar otra lista a la ya creada

In [41]:
dias=['Lunes','Martes', 'Miercoles','Jueves','Viernes','Sabado']
ciudades.extend(dias)
print(ciudades)

['Tucumán', 'Nueva York', 'Londres', 'Copenhague', 'Iquique', 'Medellín', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [49]:
ciudades.index('Tucumán')
# encuentra solamente la primera pocision del elemento duplicado.

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [125]:
'Buenos Aires' in ciudades
# como el elemento no existe en la lista devuelve falso.

False

12) Eliminar un elemento de la lista

In [53]:
ciudades.remove('Tucumán')
print(ciudades)
# Si es un elemento duplicado, lo elimina solamente en la primera posicion en la que lo encuente.

['Nueva York', 'Londres', 'Copenhague', 'Nueva Delhi', 'Iquique', 'Medellín', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [54]:
ciudades.remove('Buenos Aires')
# DA ERROR

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [57]:
ultimo_elemento= ciudades.pop(11)
print(ultimo_elemento)

Sabado

15) Mostrar la lista multiplicada por 4

In [58]:
ciudades*4

['Nueva York',
 'Londres',
 'Copenhague',
 'Nueva Delhi',
 'Iquique',
 'Medellín',
 'Lunes',
 'Martes',
 'Miercoles',
 'Jueves',
 'Viernes',
 'Nueva York',
 'Londres',
 'Copenhague',
 'Nueva Delhi',
 'Iquique',
 'Medellín',
 'Lunes',
 'Martes',
 'Miercoles',
 'Jueves',
 'Viernes',
 'Nueva York',
 'Londres',
 'Copenhague',
 'Nueva Delhi',
 'Iquique',
 'Medellín',
 'Lunes',
 'Martes',
 'Miercoles',
 'Jueves',
 'Viernes',
 'Nueva York',
 'Londres',
 'Copenhague',
 'Nueva Delhi',
 'Iquique',
 'Medellín',
 'Lunes',
 'Martes',
 'Miercoles',
 'Jueves',
 'Viernes']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [71]:
tup_numero=('1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20')
type(tup_numero)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [70]:
print(tup_numero[9:15])

('10', '11', '12', '13', '14', '15')

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [74]:
'30' in tup_numero

False

In [73]:
'20' in tup_numero

True

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [86]:
if ('París' in ciudades):
    print('El valor París si existe en la lista')
else:
    ciudades.append('París')
    print('La variable París fue agregada a la lista de ciudades')
print(ciudades)

La variable París fue agregada a la lista de ciudades
['Nueva York', 'Londres', 'Copenhague', 'Nueva Delhi', 'Iquique', 'Medellín', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'París']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [92]:
tup_numero.count('11')

1

21) Convertir la tupla en una lista

In [96]:
list(tup_numero)

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [98]:
tuple(tup_numero)
n1,n2,n3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_= tup_numero
print(n1,n2,n3)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [116]:
mundo={ 'continentes':['America', 'Asia', 'Africa','Antartida', 'Europa', 'Oceanía']}
mundo['ciudades']=['Tucumán', 'Nueva York', 'Londres', 'Copenhague','Iquique', 'Medellín']
print(mundo)

{'continentes': ['America', 'Asia', 'Africa', 'Antartida', 'Europa', 'Oceanía'], 'ciudades': ['Tucumán', 'Nueva York', 'Londres', 'Copenhague', 'Iquique', 'Medellín']}

24) Imprimir las claves del diccionario

In [117]:
mundo.keys()

dict_keys(['continentes', 'ciudades'])

25) Imprimir las ciudades a través de su clave

In [118]:
mundo['ciudades']

['Tucumán', 'Nueva York', 'Londres', 'Copenhague', 'Iquique', 'Medellín']