## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a= 12
print (a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
const1= 8.5
type(const1)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre= 'Maria Carolina Blasco'

5) Crear una variable que contenga un número complejo

In [6]:
num_complejo= 2 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(num_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
import math
pi1= round (math.pi, 4)
print(pi1)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
VAR1= 'True'
VAR2= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [20]:
print (type(VAR1), type(VAR2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
suma= 5 + 8.4
print(suma)

13.4

11) Realizar una operación de suma de números complejos

In [24]:
complejo1= 2 + 5j
complejo2= 5 + 8j
suma_complejos= complejo1 + complejo2
print(suma_complejos)

(7+13j)

12) Realizar una operación de suma de un número real y otro complejo

In [25]:
suma1= complejo1 + 16
print(suma1)

(18+5j)

13) Realizar una operación de multiplicación

In [26]:
mult= 5 * 4
print(mult)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
potencia= 2**8
print(potencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
cociente= 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [30]:
parte_entera= 27//4
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [31]:
resto=27%4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
result= parte_entera * 4 + resto
print(result)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [33]:
alfa1='Tengo 21, '
alfa2= 'soy de Tucumán'
VAR_ALFAS= alfa1 + alfa2
print(VAR_ALFAS)

Tengo 21, soy de Tucumán

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [36]:
a='2'
b=2
print(type(a), type(b))  # son diferentes tipos de datos, a es str y b es int.
a==b

<class 'str'> <class 'int'>

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
a=int('2')
b=2
a==b

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [39]:
a = float('3,8')
# arroja error por que python no reconoce la coma como decimal, unicamente reconoce el punto. La coma la reconoce como string.

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [41]:
a=3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1 << 2
# desplaza 2 bits hacia la izquierda en el numero vinario 1 (0001) que resulta en el numero binario 4 (0100).

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [54]:
# no esta permitido por que son diferentes tipos de datos, si fueran del mismo tipo no arrojaria error y sumaria los valores.
op1= 2 + int('2')
print(op1)

4

26) Realizar una operación válida entre valores de tipo entero y string

In [50]:
frase1= 'Mi cumpleaños es el '
var2= 25
frase2=' de Agosto'
print(frase1 +str(var2) + frase2)

Mi cumpleaños es el 25 de Agosto

In [48]:
frase='ja'*3
print(frase)
frase2= f"{'tengo'} {21} {frase}"
print(frase2)

jajaja
tengo 21 jajaja